---
import GoogleTagProvider from '@/app/providers/GoogleTagProvider.astro';
import InitTheme from '@/app/providers/InitTheme.astro';
import '@/app/styles/global.css';
import Header from '@/widgets/header/Header.astro';
import '@fontsource-variable/noto-sans-kr';
import Favicon from '@/app/providers/Favicon.astro';

interface Props {
  title: string;
  description?: string;
  created: Date;
  modified?: Date;
}

const { title, description, created, modified } = Astro.props;
const createdText = new Date(created).toLocaleDateString('ko-KR', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit',
});
const modifiedText = modified ? new Date(modified).toLocaleDateString('ko-KR', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit',
}) : null;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{`${title} - 도토리 노트`}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={`${title} - 도토리 노트`} />
    <meta property="og:description" content={description} />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content={`${title} - 도토리 노트`} />
    <meta property="twitter:description" content={description} />
    <Favicon />
    <GoogleTagProvider />
    <InitTheme />
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-50 break-keep font-noto-sans-kr">
    <Header />
    <main class="mx-auto max-w-screen-md">
      <article class="prose prose-zinc dark:prose-invert max-w-none px-6 py-12">
        <h1>{title}</h1>
        <div class="flex flex-col gap-1">
          {modifiedText ? <p class="not-prose text-sm text-right text-zinc-500 dark:text-zinc-400">최근 변경일: {modifiedText}</p> : null}
          {createdText ? <p class="not-prose text-sm text-right text-zinc-500 dark:text-zinc-400">최초 작성일: {createdText}</p> : null}
        </div>
        <slot />
      </article>
    </main>
  </body>
</html>
