---
import GoogleTagProvider from '@/app/providers/GoogleTagProvider.astro';
import InitTheme from '@/app/providers/InitTheme.astro';
import '@/app/styles/global.css';
import Header from '@/widgets/header/Header.astro';
import '@fontsource-variable/noto-sans-kr';
import Favicon from '@/app/providers/Favicon.astro';

interface Props {
  title: string;
  description?: string;
}

const { title = '도토리 노트', description } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <Favicon />
    <GoogleTagProvider />
    <InitTheme />
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-50 break-keep font-noto-sans-kr min-w-80">
    <Header />
    <main class="mx-auto max-w-screen-md">
      <slot />
    </main>
  </body>
</html>
